body{
    background-color: plum;
    color: white;
}

.name_of_objects{
color: yellow;
}

.header{
    font-size: 22px;
}

#camera{
    border: 2px dotted black;
    height: 300px;
    width: 350px;
}